extends layout

block content 
    div.backgroundIndex
        h1.title Dynamic Translation
        p(style="text-align: center")   Este site foi criado com o intuido de ajudar iniciantes aprenderem inglês através de uma leitura dinâmica de textos enviados pelo próprio usuário.
        p(style="text-align: center")   Sua utilização é simples, clique em começar para ser redirecionado à uma página com um local para digitar. Neste espaço, você deve digitar ou colar seu texto na língua inglesa. Quando terminar, clique em enviar para ser redirecionado à pagina de leitura. Nesta página, você poderá clicar na palavra que você deseja traduzir, e em instantes, aparecerá uma caixa com a tradução da palavra. Caso queira taduzir expressões ou frases, segurando a tecla Shift, clique nas palavras que formam a sua expressão, ou clique no botão "+" e logo após, também nas palavras que formam a frase que você deseja. Caso queira voltar a traduzir somente palavras, clique novamente no "+".
        div.divbt
            button.btbegin(onclick="location.href = '/input';") Começar